
body{
    background-color: rgb(163, 214, 234);
}
.main{
    border: 2px solid green;
    background-color: aliceblue;
    height: 120px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.img-div{
    /* border: 2px solid red; */
    width: 30%;
    height: 100%;
}
.detail{
    /* border: 2px solid blue; */
    width: 70%;
    height: 100%;
}
.name{
    margin-left:30px ;
    /* border: 2px solid blue; */
    height: 20%;
    margin-top: 15px;
}
.follower{
    margin-left:20px ;
    /* border: 2px solid blue; */
    height: 40%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.same{
    /* border: 2px solid green; */
    height: 100%;
    width: 33%;
    font-size: 15px;
    margin: 10px;
}
img{
    height: 110px;
    width: 90px;
    margin: 4px;
}
.same1{
    /* border: 2px solid darkgoldenrod; */
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}
.navbar{
    /* border: 2px solid yellow; */
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-brand{
    /* border: 2px solid yellow; */
    height: 100%;
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.navbar-img{
    height: 90px;
}

/* userdetail */
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(61, 72, 74);
}
.userTag{
    /* border: 2px solid salmon; */
    height: 9vh;
    width: 100vw;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
}
.user-contants{
    /* border: 2px solid salmon; */
    height: 43vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.repo{
    /* border: 2px solid salmon; */
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: aliceblue;
}
.repo-details{
    /* border: 2px solid salmon; */
    height: 32vh;
    width: 100%;
}
.user-contants-main{
    border: 1px solid whitesmoke;
    height: 100%;
    width: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-contants-left{
    /* border: 2px solid rgb(20, 66, 134); */
    height: 100%;
    width: 30%;
}
.user-contants-right{
    /* border: 2px solid rgb(20, 66, 134); */
    height: 100%;
    width: 69%;
}
.user-contants-right1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height: 20%;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    color: aliceblue;
}
.user-contants-right2{
    height: 20%;
    width: 100%;
    display: flex;

}
.blocks{
    /* border: 2px solid rgb(20, 66, 134); */
    height: 40%;
    width: 100%; 
    margin: 20px;
    border-radius: 10px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-contants-right3{
    /* border: 2px solid rgb(20, 66, 134); */
    height: 18%;
    width: 98%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.user-contants-right4{
    /* border: 2px solid rgb(20, 66, 134); */
    height: 20%;
    width: 98%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.user-contants-right4-block{
    /* border: 2px solid rgb(20, 66, 134); */
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: white;
}
.user-contants-right3-block{
    /* border: 2px solid rgb(20, 66, 134); */
    height: 100%;
    width: 35%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
}
.repositorys{
    /* border:4px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    height: 100%; 

    
}
.pro{
    /* border: 2px solid aliceblue; */
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    border-radius: 100%;

     
}
.repo-details1{
    /* border: 2px solid rgb(17, 129, 228); */
    background-color: rgb(236, 192, 110);
    height: 40%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
   
}
a{
    text-decoration: none;
    color: black;
}
.git_repo_name{
    /* border: 2px solid black; */
    color: rgb(252, 252, 252);
    height: 70%;
    width: 40%;
    margin: 10px;
    
}
.git_repo_link{
    border: 2px solid black;
    font-size: 15px;
    height: 60%;
    width: 80%;
    margin: 10px;
    /* font-size: large; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-decoration: none;
            color: black;
}
.git_repo_live{
    border: 2px solid black;
    /* background-color: rgb(236, 192, 110); */
    height: 60%;
    width: 80%;
    margin: 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.mar{
    /* border: 2px solid black; */
    /* background-color: rgb(236, 192, 110); */
    height: 70%;
    width: 20%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
